@import url(http://fonts.googleapis.com/css?family=Rammetto+One|Ubuntu|Maven+Pro);
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* CUSTOM STYLES ------ */

body {
    background-image: url("../img/shattered.png");
    font: 16px/26px "Maven Pro", "Lucida Console", Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* HEADER --- */
.header-container {
    background-color: transparent;
    color:#56E79E;
    height:90px;
}


.logo {
    color:#7FCC8D;
    color:#6FD08C;
    padding:20px 0px 15px 0px;
    border-bottom: 5px solid #883668;
    display: inline-block;
}

.logo img {
    height:40px;
    width:auto;
}

.tagline {
    margin:30px 0px 40px 0px;
    text-align: center;
    color:#7FCC8D;
    color:#6FD08C;
    color:#D6764F;
    font-family: 'Rammetto One';
    text-shadow: 1px 2px 0px #883668;
    line-height:40px;
} .tagline svg {
    margin-top:-21px;
    fill: #D6764F;
}

.social {
    float:right;
}

ul.social {
    list-style:none;
    margin-bottom: 0;
    padding: 0px;
}

.social li {
    float:left;
    margin-left:20px;
    height:auto;
    text-align:right;
    border: 2px solid #6FD08C;
    border-radius:3px;
    background-color:#9adeae;
}

.social li:hover {
    background-color:  #6FD08C;
}

.social svg {
    float:right;
    fill:#883668;
}

/* MAIN --- */
article {
    line-height:25px;
}

.content {
    background-color:#7FCC8D;
    background-color:#6FD08C;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    padding:10px;
}

.content a {
    color:#D6764F
}

button {
    padding: 5px;
    border: 2px solid #D6764F;
    background-color:#e29f83;
    float: right;
    margin-top: 15px;
    line-height:25px;
    border-radius:3px;
    font-family:"Ubuntu";
}

button:hover {
    background-color:#D6764F ;
}

button a {
    text-decoration:none;
    color:white !important;
}

button svg {
    fill:white;
}

.jointstick {
    margin-top:-5px;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    margin-top: -30px;
    margin-left: -39px;
    margin-right:15px;
    float: left;
}

.avatar img {
    height:inherit;
    width:inherit;
    border-radius:inherit;
    border: 5px solid #7FCC8D;
    border: 5px solid #6FD08C;
}


.sectionheader {
  margin-bottom: 0.01px;
  padding-bottom: 5px;
  margin-top: 0px;
  color:#883668;
  text-shadow: 1px 1px 0px #645268;
  font-family: "Maven Pro", "Ubuntu";
  line-height:30px;
}

/* TWITTER FETCHER --- */
#katsfeed {
    font-family:"Maven Pro", "Ubuntu";
}

#katsfeed ul {
    list-style:none;
    padding:0px;
}

#katsfeed a {
    text-decoration:none;
}

.user {
    font-weight:bold;
    display:inline-block;
}

.user span {
    display:block;
    width:200px;
}

.user img {
    float:left;
    margin-right:15px;
}

.user > a {
    text-decoration:none;
}


.tweet {
    color:white;
    position: relative;
    top:20px;
    width: 95%;
    height: auto;
    padding: 8px;
    background: #883668;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    word-wrap:break-word;
}

/* speech bubble triangle */
.tweet:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 17px;
    border-style: solid;
    border-width: 15px 15px 5px 0;
    border-color: transparent #883668;
    display: block;
    width: 0;
    z-index: 1;
}

.interact {
    position: relative;
    float: right;
    margin-top:-42px;
    
}

.twitter_reply_icon, .twitter_retweet_icon, .twitter_fav_icon {
    font-size:0px;
    display: inline-block;
    text-align: center;
    padding:4px;
    width:20px;
}

.twitter_reply_icon:before, .twitter_retweet_icon:before, .twitter_fav_icon:before {
     font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0.5em;
}

.twitter_reply_icon:before {
    content: '\f112';
}

.twitter_retweet_icon:before {
    content: '\f079';
}

.twitter_fav_icon:before {
    content: '\f005';
}

/* Soundcloud background */
iframe {
    margin-bottom: 15px;
    margin-left:-5px;
    -webkit-box-shadow: 5px 5px #6FD08C;
    -moz-box-shadow: 5px 5px #6FD08C;
    box-shadow: 5px 5px #6FD08C;
}

/* Footer --- */

.footer-container {
    background: #883668;
    text-align:center;
    color:#D6764F;
}

.footer-container a {
    color:#D6764F;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0px 0;
}

.main article h1 {
    font-size: 2em;
}

.main audio {
    color: white;
}

.footer-container footer {
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.timePosted {
    padding-top:5px;
}















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .main aside {
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 33%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 33%;
        margin-left: 30px;
    }

    .main aside {
        float: right;
        width: 60%;
    }

    .main article, .main aside {
        margin-bottom:20px;
    }
    .bioheader {
        margin-left: 105px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
